@import "../../../Constants/Colors.css";

.selectB{
    padding: 0 2vw 0 2vw;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    height: 33vw;
    
}

.selectedB{
    color: var(--main-gray);
    border: 1px solid var(--gray-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vw;
    transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
}

.selectedB:hover{
    border: 1px solid black;
    color: black;
    cursor: pointer;
    background-color: rgb(249, 249, 249);
}

#selectedBIcons{
    font-size: 3vw;
    margin-bottom: 4px;
}