@import "../../../../Constants/Colors.css";

.hostelTypeAndContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Htype {
  font-size: 2vw;
  margin-top: 3.4vw;
  margin-bottom: 1vw;
}

.typeMainDiv {
  display: grid;
  grid-template-columns: 8vw 8vw 8vw;
  column-gap: 2vw;
  align-items: center;
  width: 38vw;
  height: auto;
}

#typeIcoM {
  font-size: 2vw;
}

#typeIcoW {
  font-size: 1.7vw;
}

.hType {
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 1vw;
  cursor: pointer;
  background-color: white;
}

.isActive {
  background-color: var(--light-blue-color);
  border: 1px solid black;
}

.TypeError{
  border: 1px solid rgb(204, 2, 2);
  color: rgb(204, 2, 2);
}

#hostelFormInputs {
  min-height: 20px;
  color: rgb(204, 2, 2);
}

.enterContact {
  font-size: 1.2vw;
  height: 15vw;
  width: 38vw;
}

#contactNo1,
#contactNo2 {
  font-size: 1vw;
  width: 20vw;
}

#contactNoLP {
  margin-top: 0.4vw;
  margin-right: 43px;
}

#contactNoLW {
  margin-top: 0.4vw;
  margin-right: 15px;
}

/* .info{
    font-size: 1vw;
 }
 
 #infoIco{
    font-size: 1.3vw;
 } */
