@import "../../../../Constants/Colors.css";

.changeBasicInformationDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 19.7%;
  top: 110px;
  border-radius: 10px;
  width: 79%;
  height: fit-content;
  padding: 20px;
  background-color: white;
}

.basicInfoH {
  color: var(--main-gray);
  font-size: 2vw;
  margin: 2vw 0 1vw 0;
  position: relative;
  left: 3.2vw;
  padding-right: 13vw;
}

.extraPadding{
  
  left: 1px !important;
}

.info {
  font-size: 1vw;
}

#infoIco {
  font-size: 1.3vw;
}

#title,
#description {
  width: 35vw;
  font-size: 1vw;
}

#hHelperText {
  min-height: 20px;
  color: rgb(204, 0, 0);
}


