@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.dashboardBackground{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #B5C2C9;
    /* background: linear-gradient(to right, white, rgb(247, 253, 255)); */
}

.sideDash{
    border-radius: 30px;  
    margin-left: 1%;
    padding: 0 20px;
    width: 17.5%;
    color: white;
    background-color: #F1F3F4;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    height: 95vh;
    z-index: 1;
}

.brandName{
    color: rgb(10, 38, 80);
    font-size: 25px;
    margin: 27px 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.brandNameLine{
    color : #1a1b1d
}

.sideDashLinksDiv{
    position: relative;
    bottom: 5px
}

#sideDashLinksIco{
    margin-right: 10px;
    font-size: 22px;
}

.sideDashLinks{
    display: flex;
    padding: 7px 9px;
    border-radius: 20px;
    margin-top: 5px;
    color: #1a1b1d;
    position: relative;
    font-size: 14px;
    z-index: 2;
}

.sideDashLinks:hover{
    background-color: rgb(10, 38, 80);
    cursor: pointer;
    color: white;
}

.dashActive{
    background-color: rgb(10, 38, 80);
    cursor: pointer;
    color: white;
}

.dashboardOptionsDiv{
    background-color: rgb(10, 38, 80);
    padding-top: 20px;
    padding-bottom: 8px;
    position: relative;
    bottom: 15px;
    height: fit-content;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.dashboardOptions{
    padding-left: 30px;
    padding-bottom: 6px;
    color: rgb(189, 189, 189);
    font-size: 13px;
    cursor: pointer;

}

.dashboardOptionsBold{
    color: rgb(233, 233, 233);
    letter-spacing: 1px;
}

.dashboardOptionsSidePadding{
    padding-left: 43px;
}

.dashboardOptions:hover{
    color: rgb(255, 255, 255);
}

.dashboardActive{
    cursor: pointer;
    color: white;
}

/* TopBar css */
.topBarMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 17px;
    left: 19.7%;
    border-radius: 10px;
    height: 75px;
    padding: 0 22px;
    width: 79%;
    background-color: white;
}

.topHeadingProfile{
    display: inline-flex;
    justify-content: center;
    background-color: #F1F3F4;
    font-size: 15px;
    padding: 7px 22px;
    width: 170px ;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 20px;
}

.backToHomeBtn{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 7px 22px;
    width: 120px;
    background-color: rgb(10, 38, 80);
    border-radius: 20px;
}

.backToHomeBtn:hover{
    color: white;
    background-color: rgb(11, 42, 88);

}

@keyframes moveFro {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
}
  
#backToHomeIco {
    font-size: 20px;
    animation: moveFro 2s ease infinite alternate; 
}
