.manualAddressMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 19.7%;
    top: 105px;
    border-radius: 10px;
    width: 79%;
    height: fit-content;
    padding: 20px;
    background-color: white;
  }
  
  .AddressHeading {
    padding-top: 2vw;
    font-size: 2vw;
  }
  
  #streetNoL,
  #cityNameL,
  #completeAddressL,
  #selectProvinceL {
    font-size: 1vw;
  }
  
  #streetNo,
  #cityName,
  #completeAddress {
    width: 35vw;
    height: 1vw;
    font-size: 1vw;
  }
  
  #selectProvince {
    width: 33.5vw;
  }
  
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    font-size: 1vw;
  }
  
  #AddressFormInputs {
    color: rgb(222, 0, 0);
  }
  
  #provinceVal {
    font-size: 1vw;
  }
  