.MessBasicInfoH{
    padding-top: 2vw;
    margin-bottom: -0.5vw !important;
    font-size: 2vw;
}

#MessBasicInfoMianDiv{
    width: fit-content;
    display: flex !important;
    align-items: flex-start;
    position: relative;
    left: 35vw;
}

#messTitle, #messPhoneNo, #messWhatsappNo{
    width: 30vw;
    height: 1vw;
    font-size: 1vw;
}

#messPhoneNo, #messWhatsappNo{
    width: 27.5vw;
}

#messTitleL{
    padding-top: 1vw;
}

#mHelperText{
    min-height: 20px;
    color: rgb(195, 1, 1);
}