@import "../../Constants/Colors.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');

.footer{
    color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: var(--main-color);
    position: relative;
    bottom: 0;
    margin-top: 6vw;
    padding: 4vw 2vw;
 }
 
 #footerLogo{
     /* width: 30vw;
     margin-bottom: 25px; */
     font-size: 5vw;
     color: white;
     font-family: 'Nunito Sans', sans-serif;
 }
 
 .lFooter{
     display: flex;
     flex-direction: column;
     width: 50vw;
 }
 
 #lFooterIco{
     font-size: 2vw;
 }

 .fRegisterEmail{
    margin-top: 1vw;
    color: white;
    background-color: #225179;
    width: fit-content;
    padding: 1vw 2vw;
    border-radius: 10px;
 }

 #footerEmail{
    background-color: white;
    width: 23vw;
    margin-top: 1vw;
    padding-left: 1vw;
    border-radius: 3px;
    font-size: 1.1vw;
 }

 #footerBtn{
    background-color: white;
    color: black;
    position: relative;
    margin-top: 0.5vw;
    right: 39.5%;
    font-size: 0.8vw;
 }
 
 .fSpanS{
     font-size: 1.2vw;
 }
 
 #lFooterIcoY{
     font-size: 2.5vw;
 }
 
 #footerIco{
     font-size: 1.5vw;
     margin-right: 10px;
 }
 
 .fSpanContact{
     font-size: 1.2vw;
     font-weight: 600;
     color: white;
 }
 
 #footerIco, #lFooterIco, #footerLogo, .fSpan, #lFooterIcoY:hover{
     cursor: pointer;
 }
 
 .rFooter{
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     width: 100vw;
 }
 
 .rFooter-sec1 {
     display: flex;
     flex-direction: column;
 }
 
 .fSpan{
     font-size: 1.1vw;
     margin-bottom: 5px;
 }

 .fSpan:hover{
    text-decoration: underline;
}