@import "../../../Constants/Colors.css";

.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
    width: 27vw;
 }
 
 .signUpHeading{
     font-size: 1.8vw;
     font-weight: 600;
     margin-bottom: 1vw;
 }
 
 #signUpemail{
   font-size: 1vw;
   width: 20.5vw;
 }
 
 #signUpFormInputs{
     color: red;
    min-height: 20px;

 }

 .registerNo{
   font-size: 1.2vw;
   margin: 1vw 0vw;
 }
 
 #signUpBtn{
     font-size: 1vw;
     width: 24vw;
     background-color: var(--main-color);
     border-radius: 20px;
 }
 
 .signIn{
     position: relative;
     top: 0.7vw;
     text-align: center;
 }
 
 .signInClick{
     color: var(--main-color);
     font-size: 1vw;
     text-decoration: underline; 
 }

 .signInClick:hover{
   cursor: pointer;
   color: rgb(0, 0, 184);
 }
 
   @media only screen and (max-width: 1188px) {
     .signUpForm{
        padding: 3vw;
        width: 40vw;
      }
      
      .signUpHeading{
         font-size: 3vw;
      }
      
      #signUpemail{
         font-size: 2vw;
         
      }
 
     
      
      #signUpFormInputs{
         font-size: 1.7vw;
      }
      
      #signUpBtn{
         font-size: 1.6vw;
         margin-top: 1vw;
         width: 34vw;
      }
      
      .signIn{
         font-size:1.8vw;
      }
   }
   
   @media only screen and (max-width: 995px) {
     .signUpForm{
         padding: 3vw;
         width: 60vw;
       }
       
       .signUpHeading{
          font-size: 5vw;
       }
       
       #signUpemail{
          font-size: 3vw;
          width: 49vw;
       }
       
       #signUpFormInputs{
          font-size: 2vw;
       }
       
       #signUpBtn{
          font-size: 2vw;
          margin-top: 1vw;
          width: 54vw;
       }
       
       .signIn{
          font-size: 2vw;
       }
   }
     
   @media only screen and (max-width: 745px) {
     .signUpForm{
         padding: 3vw;
         width: 80vw;
       }
       
       .signUpHeading{
          font-size: 7vw;
       }
       
       #signUpemail{
          font-size: 4vw;
          width: 67vw;
       }
       
       #signUpFormInputs{
          font-size: 3vw;
       }
       
       #signUpBtn{
          font-size: 2.5vw;
          margin-top: 1vw;
          width: 75vw;
       }
       
       .signIn{
          font-size: 4vw;
       }
   }
   
   @media only screen and (max-width: 543px) {
     .signUpForm{
         padding: 3vw;
         width: 80vw;
       }
       
       .signUpHeading{
          font-size: 7vw;
       }
       
      #signUpemail{
          font-size: 4vw;
          width: 67vw;
       }
       
       #signUpFormInputs{
          font-size: 3vw;
       }
       
       #signUpBtn{
          font-size: 2.5vw;
          margin-top: 1vw;
          width: 75vw;
       }
       
       .signIn{
          font-size: 4vw;
       }
   }