.HMainDiv{
    width: fit-content;
    position: relative;
    left: 27.5vw;
    top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .updateImagesMianDiv{
    position: absolute;
    left: 19.7%;
    top: 105px;
    border-radius: 10px;
    width: 79%;
    height: fit-content;
    padding: 20px;
    background-color: white;
  }

  .IHeading{
    font-size: 2vw;
  }
  
  .ImagesInfo{
    font-size: 1vw;
    padding-bottom: 1vw;
  }
  
  .ImagesInfoError{
    color: rgb(211, 0, 0); 
  }
  
  .HImagesDiv{
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 1vw;
    column-gap: 1vw;
    cursor: pointer;
    
  }
  
  .HImage{
    width: 300px;
    height: auto;
    border: 1px dotted black;
  }
  
  .HImagesError{
    border: 1px dotted rgb(211, 0, 0);
  }
  
  