.AddressHeading {
    position: relative;
    right: 5.5vw;
    padding-top: 2vw;
    font-size: 2vw;
  }
  
  #streetNoL,
  #cityNameL,
  #completeAddressL,
  #selectProvinceL {
    font-size: 1vw;
  }
  
  #streetNo,
  #cityName,
  #completeAddress, #selectProvince {
    width: 35vw;
    height: 1vw;
    font-size: 1vw;
  }
  
  #selectProvince {
    width: 33.5vw;
  }
  
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    font-size: 1vw;
  }
  
  #AddressFormInputs {
    min-height: 15px;
    font-size: 0.8vw;
    color: rgb(222, 0, 0);
  }
  
  #provinceVal {
    font-size: 1vw;
  }
  