.ManageHostelsDiv{
    position: absolute;
    left: 19.7%;
    top: 110px;
    border-radius: 10px;
    width: 79%;
    height: 400px;
    padding: 20px;
    background-color: white;
}

.updateBtnDiv {
    display: flex;
    justify-content: end;
}

.updateBtn {
    color: white;
    padding: 7px 22px;
    background-color: #0B2A58;
    border-radius: 20px;
    border: 0;
}

.updateBtn:hover {
    background-color: #081e3f;
}